.myapp-footer > .content > .scarab > .photo {
    height: 250px;
    transform: translate(-50px,-70px);
}

.myapp-footer > .content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.content > .direitos > .title {
    font-size: 2.25em;
    color: #fff;
    font-weight: bold;
    padding-bottom: 5px;
}

.content > .direitos > .direito {
    font-size: 1.25em;
    color: #fff;
}

@media(max-width: 685px) {
    .myapp-footer > .content > .scarab > .photo{
        height: 150px;
    }
    .myapp-footer > .content{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .myapp-footer > .content > .scarab > .photo {
        height: 200px;
        transform: translate(0px,-70px);
    }
}

@media(max-width: 439px) {
    .myapp-footer > .content{
        text-align: center;
    }
}