.color-overflow {
    background-color: rgba(0, 0, 0, 0.6) !important;
    padding: 0;
    margin: 0;
}

.color-mobile {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

._hiddentop {
    top: -99999999px;
}

._activemenu {
    top: 72.5px;
}