.myapp-footer{
    background-image: url("../../image/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 40px;
}