.myapp-main {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-section {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 900px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #000;
}

.cardphoto {
    width: 100%;
}

.cardphoto > .photo {
    height: 100%;
       width: 100%;
}

.cardcontent {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

.infocontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    text-align: justify;
}

.titlecard {
    font-size: 2.25em;
    text-align: center;
    line-height: 1.5em;
}

.textcard {
    line-height: 1.25em;
}

@media(max-width: 970px){
    .card-section{
        flex-direction: column;
        max-width: 600px;
    }
}

@media(max-width: 745px) {
    .card-section{
        max-width: 360px;
    }
}